# Data
/kaggle_data/
/kaggle_data_phase2/

# Model Checkpoints & Logs
/checkpoints*/
/logs/
/kin_logs/
*.pth

# Submissions & Results
submission.csv
submission_*.csv
*.csv
*.zip

# Python & Development
**/__pycache__/
src_mae/drift_estimation.py
analyze_predictions.ipynb
helpers/

# Editor & System Files
/.vscode/
*.~
*.un~
*~
*.out

# Project Specific
GEMINI.md
